

<h2>So the name is now: <em><%= link_to @cocktail.name, cocktail_path(@cocktail) %></em></h2>

<h3>What is your brilliant new choice?</h3>

<%= form_for (@cocktail)  do |f| %>
  <%= f.text_field :name%>
  <%= f.submit class:"btn btn-default"%>
<% end %>


