
<br/>
<br/>
<h2>Come on dude, give me a cocktail name!</h2>


<%= form_for @cocktail do |f| %>
  <%= f.text_field :name %>
  <%= f.submit class:"btn btn-primary"%>
<% end %>



  <%#= f.collection_select :ingredients, @ingredients, :id, :name %>
  <%#= f.fields_for :doses, @cocktail.doses.build do |doses| %>
    <%#= doses.text_field :description %>
    <%# end %>
