<div class="navbar-wagon text-center">
  <!-- Logo -->


<h3><%= link_to root_path do %><i class="fa fa-glass" aria-hidden="true"></i> Go home!<% end %></h3>


<h2>Welcome to Misses Cocktail</h2>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">





    <!-- Button (call-to-action) -->


<%= link_to "Add a new cocktail", new_cocktail_path, class:"btn btn-primary"  %>



  </div>

</div>
